In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Heart.csv")

In [3]:
data.head(4).T

                  0             1             2           3
Unnamed: 0        1             2             3           4
Age              63            67            67          37
Sex               1             1             1           1
ChestPain   typical  asymptomatic  asymptomatic  nonanginal
RestBP          145           160           120         130
Chol            233           286           229         250
Fbs               1             0             0           0
RestECG           2             2             2           0
MaxHR           150           108           129         187
ExAng             0             1             1           0
Oldpeak         2.3           1.5           2.6         3.5
Slope             3             2             2           3
Ca                0             3             2           0
Thal          fixed        normal    reversable      normal
AHD              No           Yes           Yes          No

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
Unnamed: 0    303 non-null int64
Age           303 non-null int64
Sex           303 non-null int64
ChestPain     303 non-null object
RestBP        303 non-null int64
Chol          303 non-null int64
Fbs           303 non-null int64
RestECG       303 non-null int64
MaxHR         303 non-null int64
ExAng         303 non-null int64
Oldpeak       303 non-null float64
Slope         303 non-null int64
Ca            299 non-null float64
Thal          301 non-null object
AHD           303 non-null object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

# Question1: Predict AHD using 
1. Logistic Regression
2. KNN Classifier
3. Decision Trees
4. Bagging
5. AdaBoost
6. RandomForest

# Question2: Improve the accuracy by optimizing hyperparameters

# Question3: What are the most important variables?